Repository leosuncin/express-zod-api-cors-error: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, syncpack format --source, sort-package-json

feat(api): add an endpoint to remove all of the todos
  apps/api/src/endpoints/todo.spec.ts
  apps/api/src/endpoints/todo.ts
  apps/api/src/routing.ts
  apps/api/src/schemas/task.ts
  apps/api/src/services/task.spec.ts
  apps/api/src/services/task.ts
Due: prettier --write

build(react-rtk): add Dockerfile
  apps/react-rtk/.dockerignore
  apps/react-rtk/Dockerfile
  apps/react-rtk/h2o.conf
Due: none

feat(api): add an endpoint to toggle all of the todos
  apps/api/src/endpoints/todo.spec.ts
  apps/api/src/endpoints/todo.ts
  apps/api/src/routing.ts
  apps/api/src/schemas/task.ts
  apps/api/src/services/task.spec.ts
  apps/api/src/services/task.ts
Due: prettier --write

build: use traefik to route the services
  docker-compose.deploy.yaml
  docker-compose.yaml
Due: none

test(e2e): test API with Playwright
  .env.example
  e2e/api/todomvc.spec.ts
  playwright.config.ts
Due: prettier --write

test(api): add integration test for health endpoint
  apps/api/src/endpoints/health.spec.ts
Due: prettier --write

build: load .env files in the monorepo
  .env.example
  apps/api/package.json
  apps/react-rtk/package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: prettier --write, syncpack format --source, sort-package-json

fix(react-rtk): amend 'Toggle all' label
  apps/react-rtk/src/todo/TodoList.tsx
Due: none

test(e2e): test the SPA with Playwright
  e2e/client/todomvc.spec.ts
Due: prettier --write

feat: reproduction of the error with minimum code
  .commitlintrc.json
  .editorconfig
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .npmrc
  .prettierignore
  .prettierrc
  LICENSE
  README.md
  api/main.js
  client/index.html
  client/index.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, syncpack format --source, sort-package-json

feat: error with authorization header
  api/main.js
  client/index.html
  client/index.js
Due: prettier --write

feat: give to each endpoint its own path
  api/main.js
Due: prettier --write

test: run unit tests in the browser with mocha
  client/test.html
  client/test.js
Due: prettier --write

fix: update to express-zod-api v8.4.1
  package.json
  pnpm-lock.yaml
Due: prettier --write, syncpack format --source, sort-package-json

fix: allow Authorization header
  api/main.js
Due: prettier --write

fix: use the token in the endpoint
  api/main.js
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md,yml,toml})
  syncpack format --source: any of: package.json
  sort-package-json: any of: package.json
