Repository leosuncin/express-zod-api-cors-error: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, syncpack format --source, sort-package-json

.lintstagedrc.json:

{
  "*.{js,ts}": ["prettier --write"],
  "*.{json,md,yml,toml}": ["prettier --write"],
  "package.json": ["syncpack format --source", "sort-package-json"]
}

feat(react-rtk): implement TodoMVC SPA
  apps/react-rtk/src/App.css
  apps/react-rtk/src/App.tsx
  apps/react-rtk/src/app/hooks.ts
  apps/react-rtk/src/app/store.ts
  apps/react-rtk/src/assets/react.svg
  apps/react-rtk/src/main.tsx
  apps/react-rtk/src/todo/Footer.tsx
  apps/react-rtk/src/todo/Header.tsx
  apps/react-rtk/src/todo/TodoItem.tsx
  apps/react-rtk/src/todo/TodoList.tsx
  apps/react-rtk/src/todo/todo.client.ts
  apps/react-rtk/src/todo/todo.interface.ts
  apps/react-rtk/src/todo/todo.slice.ts
  apps/react-rtk/src/vite-env.d.ts
Due: prettier --write

chore: lint staged .tsx files before commit
  .lintstagedrc.json
Due: prettier --write

chore(react-rtk): initial state
  apps/react-rtk/.gitignore
  apps/react-rtk/index.html
  apps/react-rtk/package.json
  apps/react-rtk/public/vite.svg
  apps/react-rtk/src/App.css
  apps/react-rtk/src/App.tsx
  apps/react-rtk/src/assets/react.svg
  apps/react-rtk/src/index.css
  apps/react-rtk/src/main.tsx
  apps/react-rtk/src/vite-env.d.ts
  apps/react-rtk/tsconfig.json
  apps/react-rtk/tsconfig.node.json
  apps/react-rtk/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, syncpack format --source, sort-package-json

build(api): rewrite paths alias
  apps/api/package.json
  apps/api/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, syncpack format --source, sort-package-json

build: install playwright to run E2E tests
  .gitignore
  e2e/.gitkeep
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: prettier --write, syncpack format --source, sort-package-json

ci(github): run playwright inside the codespace
  .devcontainer/devcontainer.json
Due: prettier --write

build(api): add Dockerfile
  apps/api/.dockerignore
  apps/api/Dockerfile
Due: none

build(react-rtk): add Dockerfile
  apps/react-rtk/.dockerignore
  apps/react-rtk/Dockerfile
  apps/react-rtk/h2o.conf
Due: none

build: run the apps with docker compose
  docker-compose.yaml
Due: none

build: use traefik to route the services
  docker-compose.deploy.yaml
  docker-compose.yaml
Due: none

test(e2e): test API with Playwright
  .env.example
  e2e/api/todomvc.spec.ts
  playwright.config.ts
Due: prettier --write

ci(github): run unit tests
  .github/workflows/ci.yml
Due: prettier --write

ci(github): run e2e tests
  .github/workflows/ci.yml
Due: prettier --write

ci(github): forward vite's port
  .devcontainer/devcontainer.json
Due: prettier --write

ci(github): fix error with httpie feature
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: prettier --write

test(api): add integration test for todo endpoint
  apps/api/package.json
  apps/api/src/endpoints/todo.spec.ts
  pnpm-lock.yaml
Due: prettier --write, syncpack format --source, sort-package-json

feat(api): add migration to create the tasks table
  apps/api/migrations/1668655418977_create-tasks-table.ts
  apps/api/package.json
  pnpm-lock.yaml
Due: prettier --write, syncpack format --source, sort-package-json

feat(api): initial state
  apps/api/jest.config.js
  apps/api/package.json
  apps/api/src/config.ts
  apps/api/src/container.ts
  apps/api/src/endpoints/health.ts
  apps/api/src/main.ts
  apps/api/src/routing.ts
  apps/api/tsconfig.build.json
  apps/api/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, syncpack format --source, sort-package-json

fix(api): create interceptor to validate the query results
  apps/api/src/interceptors/result-parser.ts
  apps/api/src/main.ts
  apps/api/src/schemas/task.ts
Due: prettier --write

chore(react-rtk): proxy the API
  apps/react-rtk/vite.config.ts
Due: prettier --write

feat(api): add endpoint to create a new todo
  apps/api/package.json
  apps/api/src/container.ts
  apps/api/src/endpoints/todo.ts
  apps/api/src/main.ts
  apps/api/src/routing.ts
  apps/api/src/schemas/task.ts
  apps/api/src/services/task.spec.ts
  apps/api/src/services/task.ts
  apps/api/src/slonik-interceptor-preset.d.ts
  pnpm-lock.yaml
Due: prettier --write, syncpack format --source, sort-package-json

build(react-rtk): install vitest
  apps/react-rtk/.gitignore
  apps/react-rtk/package.json
  apps/react-rtk/src/setupTests.ts
  apps/react-rtk/tsconfig.json
  apps/react-rtk/tsconfig.node.json
  apps/react-rtk/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, syncpack format --source, sort-package-json

feat(api): add an endpoint to get one todo by id
  apps/api/src/endpoints/todo.spec.ts
  apps/api/src/endpoints/todo.ts
  apps/api/src/routing.ts
  apps/api/src/services/task.spec.ts
  apps/api/src/services/task.ts
Due: prettier --write

feat(api): add an endpoint to remove one todo
  apps/api/src/endpoints/todo.spec.ts
  apps/api/src/endpoints/todo.ts
  apps/api/src/routing.ts
  apps/api/src/services/task.spec.ts
  apps/api/src/services/task.ts
Due: prettier --write

feat(api): add an endpoint to list all of the todos
  apps/api/src/endpoints/todo.spec.ts
  apps/api/src/endpoints/todo.ts
  apps/api/src/routing.ts
  apps/api/src/services/task.spec.ts
  apps/api/src/services/task.ts
Due: prettier --write

test(react-rtk): add integration tests
  apps/react-rtk/src/App.spec.tsx
  apps/react-rtk/src/app/store.ts
Due: prettier --write

refactor(api): the remove endpoint returns the removed ones
  apps/api/src/endpoints/todo.spec.ts
  apps/api/src/endpoints/todo.ts
  apps/api/src/routing.ts
  apps/api/src/services/task.spec.ts
  apps/api/src/services/task.ts
Due: prettier --write

build: run PostgreSQL with Docker Compose
  .env.example
  docker-compose.yaml
Due: none

ci(github): customize Codespace
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: prettier --write

feat(api): add an endpoint to update one todo by id
  apps/api/package.json
  apps/api/src/endpoints/todo.spec.ts
  apps/api/src/endpoints/todo.ts
  apps/api/src/routing.ts
  apps/api/src/schemas/task.ts
  apps/api/src/services/task.spec.ts
  apps/api/src/services/task.ts
  pnpm-lock.yaml
Due: prettier --write, syncpack format --source, sort-package-json
